@import "tailwindcss";

:root {
  --sys-background-main: #F1F2F3;
  --sys-background-surface: #FFFFFF;
  --sys-background-high-contrast: #001435;
  --sys-background-medium-contrast: #545D68;
  --sys-primary: #0544B5;
  --sys-secondary: #0070E0;
  --sys-featured-main: #FFD140;
  --sys-card-stroke: #E9ECF0;
  --sys-border-high-contrast: #929496;
  --sys-focus: #097FF5;
  --sys-accent3: #388C00;
}

body {
  background: var(--sys-background-main);
  font-family: system-ui, -apple-system, sans-serif;
  -webkit-font-smoothing: antialiased;
}
